<launch>
  <arg name="start_sim" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="spawn_z" default="0.30"/>
  <arg name="prone_joint_args"
       default="-J FL_hip_joint 0.0 -J FL_thigh_joint 1.3 -J FL_calf_joint -2.4 -J FR_hip_joint 0.0 -J FR_thigh_joint 1.3 -J FR_calf_joint -2.4 -J RL_hip_joint 0.0 -J RL_thigh_joint 1.3 -J RL_calf_joint -2.4 -J RR_hip_joint 0.0 -J RR_thigh_joint 1.3 -J RR_calf_joint -2.4"/>
  <arg name="safe_stand_joint_args"
       default="-J FL_hip_joint -0.15 -J FL_thigh_joint 0.55 -J FL_calf_joint -1.5 -J FR_hip_joint 0.15 -J FR_thigh_joint 0.55 -J FR_calf_joint -1.5 -J RL_hip_joint -0.15 -J RL_thigh_joint 0.70 -J RL_calf_joint -1.5 -J RR_hip_joint 0.15 -J RR_thigh_joint 0.70 -J RR_calf_joint -1.5"/>
  <arg name="spawn_joint_args" default="$(arg prone_joint_args)"/>
  <arg name="startup_cmd_hold_time" default="2.0"/>
  <arg name="startup_cmd_ramp_time" default="2.0"/>
  <arg name="startup_wait_for_policy" default="true"/>
  <arg name="command_timeout" default="0.5"/>
  <arg name="cmd_publish_rate" default="20.0"/>
  <arg name="head_mode" default="none"/>
  <arg name="head_yaw_kp" default="1.5"/>
  <arg name="head_yaw_kd" default="0.15"/>
  <arg name="head_min_speed" default="0.05"/>
  <arg name="head_max_yaw_rate" default="1.2"/>
  <arg name="rviz" default="true"/>
  <arg name="vehicle_x" default="0"/>
  <arg name="vehicle_y" default="0"/>
  <arg name="camera_offset_z" default="0"/>
  <arg name="model_name" default="a1_gazebo"/>
  <arg name="scan_in" default="/velodyne_points"/>
  <arg name="tf_time_offset" default="0.10"/>
  <arg name="scan_offset_x" default="0.12"/>
  <arg name="scan_offset_y" default="0.0"/>
  <arg name="scan_offset_z" default="0.19"/>
  <arg name="motion_mode" default="rl"/>
  <arg name="use_standing_driver" default="true"/>
  <arg name="stand_height" default="0.38"/>
  <arg name="planner_max_speed" default="1.0"/>
  <arg name="planner_autonomy_speed" default="1.0"/>
  <arg name="max_linear" default="0.75"/>
  <arg name="max_angular" default="0.75"/>
  <arg name="rl_policy_path" default="$(find a1_exploration_bridge)/../../third_party/rl_policy/a1/policy_act_inference_stair.pt"/>
  <arg name="rl_policy_method" default="act_inference"/>
  <arg name="rl_policy_active_topic" default="/a1_rl_policy_driver/policy_active"/>
  <arg name="rl_policy_decimation" default="1"/>
  <arg name="rl_action_scale" default="0.25"/>
  <arg name="rl_startup_damping_time" default="5.0"/>
  <arg name="rl_startup_damping_kp" default="0.0"/>
  <arg name="rl_startup_damping_kd" default="0.0"/>
  <arg name="rl_startup_prone_kp" default="80.0"/>
  <arg name="rl_startup_prone_kd" default="1.0"/>
  <arg name="rl_startup_prone_rate" default="1.0"/>
  <arg name="rl_startup_prone_min_time" default="2.0"/>
  <arg name="rl_startup_prone_settle_time" default="0.5"/>
  <arg name="rl_startup_prone_pos_tolerance" default="0.10"/>
  <arg name="rl_startup_prone_vel_tolerance" default="0.35"/>
  <arg name="rl_startup_stand_kp" default="80.0"/>
  <arg name="rl_startup_stand_kd" default="1.0"/>
  <arg name="rl_startup_stand_rate" default="0.75"/>
  <arg name="rl_startup_stand_min_time" default="5.0"/>
  <arg name="rl_startup_stand_max_time" default="8.0"/>
  <arg name="rl_startup_stand_settle_time" default="1.0"/>
  <arg name="rl_startup_stand_pos_tolerance" default="0.12"/>
  <arg name="rl_startup_stand_vel_tolerance" default="0.35"/>
  <arg name="rl_startup_base_ang_vel_tolerance" default="0.6"/>
  <arg name="rl_kp" default="80.0"/>
  <arg name="rl_kd" default="1.0"/>

  <include if="$(arg start_sim)" file="$(find a1_exploration_bridge)/launch/a1_building_sim.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="spawn_z" value="$(arg spawn_z)"/>
    <arg name="spawn_joint_args" value="$(eval arg('safe_stand_joint_args') if arg('motion_mode') == 'standing' else arg('spawn_joint_args'))"/>
    <arg name="stand_tf_model_name" value="$(arg model_name)"/>
    <arg name="motion_mode" value="$(arg motion_mode)"/>
    <arg name="use_standing_driver" value="$(arg use_standing_driver)"/>
    <arg name="stand_height" value="$(arg stand_height)"/>
    <arg name="motion_max_linear" value="$(arg max_linear)"/>
    <arg name="motion_max_angular" value="$(arg max_angular)"/>
    <arg name="rl_policy_path" value="$(arg rl_policy_path)"/>
    <arg name="rl_policy_method" value="$(arg rl_policy_method)"/>
    <arg name="rl_policy_active_topic" value="$(arg rl_policy_active_topic)"/>
    <arg name="rl_policy_decimation" value="$(arg rl_policy_decimation)"/>
    <arg name="rl_action_scale" value="$(arg rl_action_scale)"/>
    <arg name="rl_startup_damping_time" value="$(arg rl_startup_damping_time)"/>
    <arg name="rl_startup_damping_kp" value="$(arg rl_startup_damping_kp)"/>
    <arg name="rl_startup_damping_kd" value="$(arg rl_startup_damping_kd)"/>
    <arg name="rl_startup_prone_kp" value="$(arg rl_startup_prone_kp)"/>
    <arg name="rl_startup_prone_kd" value="$(arg rl_startup_prone_kd)"/>
    <arg name="rl_startup_prone_rate" value="$(arg rl_startup_prone_rate)"/>
    <arg name="rl_startup_prone_min_time" value="$(arg rl_startup_prone_min_time)"/>
    <arg name="rl_startup_prone_settle_time" value="$(arg rl_startup_prone_settle_time)"/>
    <arg name="rl_startup_prone_pos_tolerance" value="$(arg rl_startup_prone_pos_tolerance)"/>
    <arg name="rl_startup_prone_vel_tolerance" value="$(arg rl_startup_prone_vel_tolerance)"/>
    <arg name="rl_startup_stand_kp" value="$(arg rl_startup_stand_kp)"/>
    <arg name="rl_startup_stand_kd" value="$(arg rl_startup_stand_kd)"/>
    <arg name="rl_startup_stand_rate" value="$(arg rl_startup_stand_rate)"/>
    <arg name="rl_startup_stand_min_time" value="$(arg rl_startup_stand_min_time)"/>
    <arg name="rl_startup_stand_max_time" value="$(arg rl_startup_stand_max_time)"/>
    <arg name="rl_startup_stand_settle_time" value="$(arg rl_startup_stand_settle_time)"/>
    <arg name="rl_startup_stand_pos_tolerance" value="$(arg rl_startup_stand_pos_tolerance)"/>
    <arg name="rl_startup_stand_vel_tolerance" value="$(arg rl_startup_stand_vel_tolerance)"/>
    <arg name="rl_startup_base_ang_vel_tolerance" value="$(arg rl_startup_base_ang_vel_tolerance)"/>
    <arg name="rl_kp" value="$(arg rl_kp)"/>
    <arg name="rl_kd" value="$(arg rl_kd)"/>
  </include>

  <include file="$(find a1_exploration_bridge)/launch/bridge.launch">
    <arg name="model_name" value="$(arg model_name)"/>
    <arg name="scan_in" value="$(arg scan_in)"/>
    <arg name="cmd_in" value="/cmu_cmd_vel"/>
    <arg name="cmd_out" value="/cmd_vel"/>
    <arg name="tf_time_offset" value="$(arg tf_time_offset)"/>
    <arg name="scan_offset_x" value="$(arg scan_offset_x)"/>
    <arg name="scan_offset_y" value="$(arg scan_offset_y)"/>
    <arg name="scan_offset_z" value="$(arg scan_offset_z)"/>
    <arg name="max_linear" value="$(arg max_linear)"/>
    <arg name="max_angular" value="$(arg max_angular)"/>
    <arg name="command_timeout" value="$(arg command_timeout)"/>
    <arg name="cmd_publish_rate" value="$(arg cmd_publish_rate)"/>
    <arg name="startup_cmd_hold_time" value="$(eval arg('startup_cmd_hold_time') if arg('motion_mode') == 'rl' else 0.0)"/>
    <arg name="startup_cmd_ramp_time" value="$(eval arg('startup_cmd_ramp_time') if arg('motion_mode') == 'rl' else 0.0)"/>
    <arg name="startup_wait_for_policy" value="$(eval arg('motion_mode') == 'rl' and arg('startup_wait_for_policy') in [True, 'true', 'True', '1'])"/>
    <arg name="policy_active_topic" value="$(arg rl_policy_active_topic)"/>
    <arg name="head_mode" value="$(arg head_mode)"/>
    <arg name="head_yaw_kp" value="$(arg head_yaw_kp)"/>
    <arg name="head_yaw_kd" value="$(arg head_yaw_kd)"/>
    <arg name="head_min_speed" value="$(arg head_min_speed)"/>
    <arg name="head_max_yaw_rate" value="$(arg head_max_yaw_rate)"/>
  </include>

  <node if="$(eval arg('motion_mode') == 'rl')" pkg="a1_exploration_bridge" type="delayed_roslaunch.py"
        name="delayed_hphs_stack" output="screen">
    <param name="launch_file" value="$(find a1_exploration_bridge)/launch/hphs_stack.launch"/>
    <param name="launch_args"
           value="vehicle_x:=$(arg vehicle_x) vehicle_y:=$(arg vehicle_y) camera_offset_z:=$(arg camera_offset_z) planner_max_speed:=$(arg planner_max_speed) planner_autonomy_speed:=$(arg planner_autonomy_speed)"/>
    <param name="wait_topic" value="$(arg rl_policy_active_topic)"/>
    <param name="delay" value="$(arg startup_cmd_hold_time)"/>
  </node>

  <include if="$(eval arg('motion_mode') == 'standing')" file="$(find a1_exploration_bridge)/launch/hphs_stack.launch">
    <arg name="vehicle_x" value="$(arg vehicle_x)"/>
    <arg name="vehicle_y" value="$(arg vehicle_y)"/>
    <arg name="camera_offset_z" value="$(arg camera_offset_z)"/>
    <arg name="planner_max_speed" value="$(arg planner_max_speed)"/>
    <arg name="planner_autonomy_speed" value="$(arg planner_autonomy_speed)"/>
  </include>

  <node if="$(arg rviz)" launch-prefix="nice" pkg="rviz" type="rviz" name="hphs_a1_rviz" args="-d $(find HPHS)/rviz/visualization.rviz" respawn="true"/>
</launch>
